body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: auto;

}

.head-tabs {
    width: 510px;
}

#red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}

#swatch {
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    box-sizing: border-box;

    width: 200px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;

    /* Запрет на выделение текста */
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }


/* Активная вкладка */
.select, .select:hover {
    background: #007fff !important;
    color: #fff !important;
}